<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yeehom.ecommerseminiprog.dao.PurchaseOrderMapper">
  <resultMap id="BaseResultMap" type="com.yeehom.ecommerseminiprog.pojo.PurchaseOrder">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="SHOP_ID" jdbcType="INTEGER" property="shopId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="CLOSE_TIME" jdbcType="DATE" property="closeTime" />
    <result column="PO_STATE" jdbcType="INTEGER" property="poState" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
  </resultMap>
  <insert id="insert" parameterType="com.yeehom.ecommerseminiprog.pojo.PurchaseOrder">
    insert into t_purchase_order (ID, SHOP_ID, USER_ID, 
      CREATE_TIME, CLOSE_TIME, PO_STATE, 
      UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE}, #{closeTime,jdbcType=DATE}, #{poState,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=DATE})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, SHOP_ID, USER_ID, CREATE_TIME, CLOSE_TIME, PO_STATE, UPDATE_TIME
    from t_purchase_order
  </select>
  <cache />
</mapper>